<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55598038735-2hkb1fqbc6f61l0ueqa8p4luuk3c3nar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55598038735-2hkb1fqbc6f61l0ueqa8p4luuk3c3nar</string>
	<key>API_KEY</key>
	<string>AIzaSyCGklhXnCC6lojf5EM08oMia4Ez_zIJLFE</string>
	<key>GCM_SENDER_ID</key>
	<string>55598038735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cotacaoPontoCerto</string>
	<key>PROJECT_ID</key>
	<string>cotacaopontocerto-edd03</string>
	<key>STORAGE_BUCKET</key>
	<string>cotacaopontocerto-edd03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55598038735:ios:489f3fe8e9304b0c5681ba</string>
</dict>
</plist>